@use '../custom' as *;


.btn-header{
    @include button-variant(
        $primary, 
        transparent, 
        $secondary, 
        darken($primary, 10%),
        transparent,
        darken($secondary,10%)
    );

    @include button-size(1rem, 5rem, 2rem, 0);

    font-weight: 700;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 2rem;

    @include media-breakpoint-up(md){
        display: inline-block;
    }
}

.btn-leer{
    @extend .btn-header;

    @include media-breakpoint-up(md){
        display: block;
    }
}