
@use '../custom' as *;

html{
    height: 100%;
}

.dashboard{
    background-color: $a_gris-claro;

    &__header{
        background-color: $a_gris-oscuro;
        padding: 1rem;
    }

    &__header-grid{

    }

    &__logo{

    }

    &__nav{

    }

    &__form{

    }

    &__submit--logout{

    }

    &__grid{
        display: flex;
        flex: 1;
    }

    &__sidebar{
        background-color: lighten($a_gris-oscuro, 10);
        width: 12rem;
    }

    &__menu{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

    &__enlace{
        color: lighten($a_gris-oscuro, 40);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        padding: 2rem;
        transition: 300ms background-color ease-in-out, 300ms color ease, 300ms border-radius ease;

        &:hover{
            background-color: lighten($a_gris-oscuro, 20);
            color: $blanco;
            border-radius: 1rem;
        }
    }

    &__icono{
        font-size: 2rem;
    }

    &__menu-texto{
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    &__contenido{
        padding: 3rem 3rem 9rem 3rem;
        width: 100%;
    }
}