@use '../custom' as *;

@mixin bgIcon($url){
    background-image: url($url);
    background-size: 10rem;
    background-position: 50% 2rem;
    background-repeat: no-repeat;
}


.fs-16px{
    font-size: 1.6rem;
}

.fs-15px{
    font-size: 1.5rem;

}


.map{
    iframe{
        width: auto;
        height: 40rem;
    }
}

.img-tarjeta{
    width: 4rem;
    height: 3rem;
}

@media(max-width:768px){
    .navbar-nav > li:hover{
        background-color: red;
    }
}


.sociales {
    margin: 5rem 0;
    display: flex;

    // @include m.tablet { 
    //     margin: 0;
    // }

    &__enlace {
       
        &::before {
            content: '';
            padding: 2rem;
            display: inline-block;
        }
        &[href*="facebook.com"]::before {
            background-image: url(../img/icono_facebook.svg);
            color: red;
        }
        &[href*="twitter.com"]::before {
            background-image: url(../img/icono_twitter.svg);
        }
        &[href*="instagram.com"]::before {
            background-image: url(../img/ig2.svg);
        }
        &[href*="youtube.com"]::before {
            background-image: url(../img/icono_youtube.svg);
        }
        &[href*="tiktok.com"]::before {
            background-image: url(../img/icono_tiktok.svg);
        }
    }

    &__accesible {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        display: block;
    }
}
