// Reescribir colores
$negro: #000;
$blanco: #FFF;
$morado: #A435F0;
$gris: #F8F9FB;
// $gris-oscuro: #6A6F73;
$gris-oscuro: #313C4E;
$naranja: #B4690E;
$verde: #84D9BC;
$azul:#037BC0;
$bg-bd:#f5f5fa;

//color admin
$a_gris: #64748B;
$a_gris-claro: #F8FAFC;
$a_gris-oscuro: #1E293B;

$font-size-root: 62.5%;
$font-size-base: 2rem; 

// Tipografia
// $fuente-headings: 'Kaisei HarunoUmi', serif;
// $fuente-textos: Arial, Helvetica, sans-serif;
// $headings-font-family: $fuente-headings;
// $headings-font-weight: 700;
$h2-font-size: 3.6rem;
$h3-font-size: 3.2rem;
$h1-font-size: 4.5rem;



// $spacer: 1.5rem;  

// Colores
$primary:$verde;
$secondary: $gris-oscuro;
$success: $verde;
$light: $gris;
$dark: $negro;

// Formularios
// $input-border-radius: 1rem;
// $input-border-color: $dark;

// Enlaces
$nav-link-color: $gris-oscuro;
$nav-link-hover-color: $dark;
// $nav-link-font-weight: 700;
// $nav-link-font-size: .9rem;

// Botones
$btn-border-radius: 0;
// $btn-font-weight: 700;

// Cards
$card-spacer-x: 0;
$card-border-radius: 0;
$card-border-width: 0;
// $card-bg: $bg-bd;

// Habilitar CSS Grid
$enable-cssgrid: true;

// Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';