@use '../custom' as *;
@use '../utilidades/mixins' as m;

.infocards{
    
}
.infocard{
    @include media-breakpoint-up(md){
        @include transition(transform 300ms ease);
        &:hover{
            transform: scale(1.1);
        }
    }
}
.infocard__body{
    padding: 16rem 4rem 1rem 4rem;


    &.terminos{
        @include m.bgIcon('../img/terms.svg');
    }

    &.seguridad{
        @include m.bgIcon('../img/security.svg');
    }

    &.privacidad{
        @include m.bgIcon('../img/privacy.svg');
    }

    &.pagar{
        @include m.bgIcon('../img/payment.svg')
    }

    &.envio{
        @include m.bgIcon('../img/shipping.svg')
    }
    &.privacidad1{
        @include m.bgIcon('../img/protected.svg')
    }
}

.infocard__btn{
    padding: 4rem 2rem;
}

.infocard__footer{
    display: flex;
    margin: 4rem 2rem;
    // margin-top: 3rem;
    // height: 50%;
    flex-direction: column;
    justify-content: flex-end;
}