@use '../custom' as *;

.productos{
    // background-color: white;
}

.categoria-producto{
    border: 1px solid $gris-oscuro;
}

.listado-productos{
    @include make-row;

    .producto{
        @include make-col-ready;
        @include media-breakpoint-up(sm){
            @include make-col(1,2);
        }
        @include media-breakpoint-up(md){
            @include make-col(1,4);
            padding-top: 1rem;
        }
    }
}

// .mostrar{
//     visibility: visible;
//     opacity: 1;
//     height: 1;
// }

// .navegacion{
//     opacity: 0;
//     height: 0;
//     transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear; 
// }